 body {
 	font-family: Roboto;
 	/*Gradient*/
 	background: #9796f0;  /* fallback for old browsers */
	background: -webkit-linear-gradient(to right, #fbc7d4, #9796f0);  /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(to right, #fbc7d4, #9796f0); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
 }

#container {
	width: 360px;
	margin: 100px auto;
	background: #f7f7f7;
	box-shadow: 0 0 3px rgba(0,0,0, 0.2);
}

.completed {
	color: gray;
	text-decoration: line-through;
 }

 h1 {
 	background: #2980b9;
 	color: white;
 	margin: 0;
 	padding: 10px 20px;
 	text-transform: uppercase;
 	font-size: 24px;
 	font-weight: normal;
 }

 ul { 
 	/*take away the point beside each li*/
 	list-style: none;
 	margin: 0;
 	padding: 0;
 }

 li {
 	background: #fff;
 	height: 40px;
 	line-height: 40px;
 	color: #666;
 }

 li: nth-child(2n) {
	/*define every odd li to be with this background*/
 	background: #f7f7f7;
 }

 li:hover span {
 	width: 40px;
 	opacity: 1.0;
 }


 li span {
 	background: #e74c3c;
 	height: 40px;
 	margin-right: 20px;
 	text-align: center;
 	color: white;
 	width: 0;
 	display: inline-block;
 	transition: 0.2s linear;
 	opacity: 0;
 }

 input {
 	font-size: 18px;
 	background: #f7f7f7;
 	/*width refer just to content, but don't include the padding and margin*/
 	width: 100%;
 	/*include the padding but not the margin*/
 	box-sizing: border-box;
 		  /*top, right, buttom, left*/
 	padding: 13px 13px 13px 20px;
 	color: #2980b9;
 	/*flush the minor gap*/
 	border: 3px solid rgba(0,0,0,0);
 }
/* fire when user focus on input box*/
 input:focus {
 	background: #fff;
 	border: 3px solid #2980b9;
 	/*cancel the automatic border of the browser*/
 	outline: none;
 }

.fa-plus {
 	float: right;
 }